body{
    font-family:$font-primary;
    color: $text-base;
    margin:0;
    padding:0;
}

header{
    width:100%;
    background: #f0f0f0;
    position: fixed;
    z-index: 1;
    box-shadow:0px 0px 3px 0px rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    z-index: 2;

    @include transition(height 0.3s);

    .container{
        padding: 30px ;
        @include mobileview{
            text-align: center;
        }
    }
    &+.filler{height: 84px}

    h2{
        display:inline-block;
        vertical-align:middle;
    }
    nav{
        display:inline-block;
        vertical-align:middle;
        a{
            margin: 0 20px;
            display:inline;
            @include mobileview{
                font-size: 0;
                &:before{
                    font-size:17px;
                }
            }
            @include desktopview{
                &:before{
                    opacity: 0;
                    @include transition(0.3s ease);
                }
                &:hover:before{
                    opacity: 1;
                }  
            }
        }
    }
}

.basic-block{
    padding:50px 0;
    text-align:center;
    background-color: $bege;

    h2{
        margin: 20px 0;
    }
}
#intro{
    background-color: $verde;

    h1{
        margin: 20px 0;
    }
    span{
        max-width: 500px;
        display: table;
        line-height: 1.5;
        @include push-auto();
    }

    img{
        display:table;
        @include push-auto();
        width:200px;
        height:200px;
        object-fit: cover;
        border-radius:50%;
    }
}
#study{
    background-color: $laranja;
    overflow: hidden;
    .content-blocks{
        padding-top: 50px;
        position: relative;
        @include desktopview{
            padding-top:100px;
        }

        li{
            margin: 0 40px;
            img{
                width:256px;
                height:256px; 
                object-fit: cover;
                @include mobileview{
                    width:200px;
                    height: 200px;
                }
            }
            span{
                display:block;
                position:relative;
                clear:both;
                padding:10px 0 5px;
            }

            @include desktopview{
                &:after{
                    content:'';
                    display: block;
                    position: absolute;
                    height: 150px;
                    width: 150px;
                    background: transparent;
                    border-radius: 50%;
                    box-shadow: 160px 0 40px rgba(193, 92, 18, 0.35);
                    @include transition(0.5s ease);
                    opacity: 0;
                    z-index: 0;
                }
            }

            &:first-child:after{
                right: 10%;
                bottom: 10%;
            }

            &:nth-child(3):after{
                right: 17%;
                top: -22%;
            }

            &.active{
                @include transform(rotate(10deg));

                @include desktopview{
                    @include transform(rotate(30deg));
                    @include transform-origin(top right);  
                }
                &~li{
                    @include translate(50%,0);
                }
                &+.hidden-info{
                    opacity: 1;
                }
                &:after{
                    opacity: 1;
                }
            }

            &:nth-child(3).active{
                @include transform(rotate(-10deg));
            }
        }
        .hidden-info{
            font-family: $font-title;
            text-shadow: 1px 0 2px #f9b98a;
            opacity: 0;
            @include transition(all 1s);
            @include desktopview{
                @include translate(-50%,-50%);
                position: absolute;
                width:100px;
            }
            @include mobileview{
                margin:50px 0;
                display: block;
            }
        }
        @include desktopview{
            #hidden-columbia{
                bottom: 11%;
                left: 43%;      
            }
        }
    }
}

#learned{
    small{
        font-size:8px;
        position: absolute;
        top:2px;
        left: 2px;
        @include rotate(-10);
    }
    @include desktopview{
        .content-blocks{
            max-width: 80%;
        }
    }
    li{
        margin: 10px;
        &:hover{
            // bottom: 7px;
            @include transform(translateY(-7px));
            @include transition(0.3s ease);
            position: relative;
        }
    }
}

#work{
    // background: #ffb7b7; //rosa claro
    // background: #f58080; //coral
    // background: #ccc7ec; //lilas
    background: #f3f3d3; //amarelo
    h2{
        margin: 20px 0 40px;
    }
    .work{
        display: table;
        width:100%;
        max-width:900px;
        text-align: left;
        @include push-auto();
        >div{
            @include vertically-aligned();
            @include mobileview{
                width:100% !important;
            }
        }
        .work-info{
            width:60%;
            h4{
                font-size:24px;
            }
            span{
                font-family: $font-title;
                text-transform: lowercase;
                margin-bottom: 20px;
                display: block;
            }
            p{
                // color: $marrom;
                @include desktopview{
                    padding-right: 30px;
                }
                line-height: 1.5;
                a{
                    color: $coral;
                }
            }
        }
        .work-img{
            width:40%;
            @include vertically-aligned();
            padding: 30px 0;

            img{
                @include rotate(5);
                width:200px;
                height:auto;
                object-fit: cover;
                position: relative;
                @include box-shadow(0 2px 5px 0 rgba(0,0,0,0.2));
                @include transition(0.3s ease);

                @include mobileview{
                    width:200px;
                    height: 200px;
                }
                &:last-child{
                    @include rotate(25);
                    &:hover{
                        @include transform(rotate(0deg) scale(1.5));
                    }
                }
                .caption{
                    width:100%;
                    display: block;
                    opacity: 0;
                    visibility: hidden;
                    height: 0;
                    clear:both;
                    background: #f0f0f0;
                    position: absolute;
                    bottom: 0;
                    line-height: 40px;
                    @include transition(height 0.3s ease, opacity 0.5s ease);
                }
                &:hover{
                    z-index: 1; 
                    @include transform(rotate(0deg) scale(1.5));
                    @include box-shadow( 0 0 0 5px #f0f0f0, 0 7px 12px 2px rgba(0,0,0,0.2));
                    .caption{
                        max-height: auto;
                        height: 40px;
                        opacity: 1;
                        visibility: visible;
                        @include transition(height 0.3s ease, opacity 0.5s ease);
                    }
                }
            }
        }
        &:nth-child(2n+1){
            // making same order on mobile, 
            // but in a different order on desktop
            @include desktopview{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                
                .work-info{order:2}
                .work-img{order:1}
                p{
                    padding: 0;
                }
            }

            img{
                @include rotate(-5);
                &:last-child{
                    @include rotate(-25);
                }
            }
        }
    }

    // ul{
    //     width:100%;
    //     display: table;
    //     li{
    //         margin:20px;
    //         width:300px;
    //         height: 200px;
    //         position: relative;
    //         img{
    //             width:100%;
    //             height:100%;
    //             object-fit: cover;
    //             @include mobileview{
    //                 width:200px;
    //                 height: 200px;
    //             }
    //         }
    //         a{
    //             width:100%;
    //             display: block;
    //             opacity: 0;
    //             visibility: hidden;
    //             height: 0;
    //             clear:both;
    //             background: #f0f0f0;
    //             position: absolute;
    //             bottom: 0;
    //             line-height: 40px;
    //             @include transition(height 0.3s ease, opacity 0.5s ease);
    //         }

    //         &:hover{
    //             @include transform(scale(1.1));
    //             @include box-shadow( 0 0 0 5px #f0f0f0, 0 7px 12px 2px rgba(0,0,0,0.2));
    //             a{
    //                 max-height: auto;
    //                 height: 40px;
    //                 opacity: 1;
    //                 visibility: visible;
    //                 @include transition(height 0.3s ease, opacity 0.5s ease);
    //             }
    //         }
    //     }
    // }
    // .infobox{
    //     position: absolute;
    //     visibility:hidden;
    //     opacity: 0;
    //     @include translate(-50%,-50%);
    //     background: #f0f0f0;
    //     &.open{
    //         opacity: 1;
    //         visibility: visible;
    //     }
    // }
}

#contact{
    padding: 0;
    display: table;
    width: 100%;
    background-color: $azul;
    >div{
        width:50%;
        display:inline-block;
        vertical-align: middle;
        float:none;
    }
    .map{
        max-height:459px;
        iframe{
            width: 100%;
            pointer-events: none;
            border:0;
            margin:0;
        }
        @include mobileview{
            height: 200px;
        }
    }
    .form-wrapper{
        h3{
            margin: 0 0 20px;
        }
        .form{
            padding:30px;
            @include desktopview{
                padding-right: 20%;
            }
            form{
                background-color: #fbfbfb;
                padding:10px;
                z-index: 1;
                position: relative;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
            }
            input,textarea{
                border:none;
                width:100%;
                background: transparent;
                @include transition(300ms cubic-bezier(.4, 0, .2, 1));
                color: $marrom;
                font-size: 16px;
                font-family: $font-primary;
                position: relative;
            }
            input{
                height: 40px;
            }
            textarea{
                height: 120px;
                resize: none;
            }
            label{
                color: rgba(142,131,139,0.38);
                position: absolute;
                top: 12px;
                left: 0;
                z-index: -1;
                cursor: pointer;
                @include transition(300ms cubic-bezier(.4, 0, .2, 1));

                &.active{
                    top:-5px;
                    font-size: 10px;
                    color: #fbfbfb;
                }
            }
            .input-box{
                margin-bottom: 10px;
                position: relative;
            }
            button{
                width: 100%;
                padding: 10px;
                color: #f0f0f0;
                background: #3099a2;
                @include border-radius(2px);
                @include box-shadow(0 1px 2px rgba(0,0,0,0.2));
                @include transition(0.3s ease);
                &:after{
                    margin-left: 10px;
                    display: inline-block;
                    content: '\f1d9';
                    font-family: "fontello";
                    @include transition(0.1s ease);
                    text-shadow: 1px 1px 0 #2d7f86;
                }
                &:hover{
                    background: lighten(#3099a2,10%);
                }
                &:active:after,&:focus:after{
                    @include rotate (20);

                }
            }
            .currently{
                margin: 20px 0 10px;
            }
        }
    }
}

.content-blocks{
    text-align:center;
    @include push-auto();
    li{
        display:inline-block;
        vertical-align:middle;
        @include box-shadow(0 2px 5px 0 rgba(0,0,0,0.2));
        @include transition(0.3s ease);
        div{
            background-color: #f0f0f0;
            padding:10px;
            z-index: 1;
            position: relative;
        }
        &:hover{
            @include box-shadow(0 7px 12px 0px rgba(0,0,0,0.2));
        }
    }
}

footer{
    padding:20px 0;
    text-align: center;
    background: #f0f0f0;
}
.floating-icons{
    z-index: 10;
    display: table;
    margin-top: 20px;
    text-align: center;
    @include push-auto();
    @include desktopview{
        top:50%;
        right:20px;
        position: fixed;
        @include translate(20px,-50%);
        width:70px;
        margin:0;
    }
    .floating{
        width:50px;
        height:50px;
        display: inline-block;
        color: #f0f0f0;
        line-height: 50px;
        font-size: 22px;
        background: #3099a2;
        margin:10px;
        position: relative;
        @include border-radius(50%);
        @include transition(0.3s ease);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);

        &:before{
            content:'';
            width:50px;
            height:50px;
            display: inline-block;
            position: absolute;
            background: #3099a2;
            left: 0;
            top: 0;
            @include border-radius(50%);
            z-index: 1;
        }

        span{
            color: $text-base;
            opacity: 0;
            text-align: right;
            @include translate(0,0);
            position: absolute;
            @include transition(0.3s ease);
            white-space: nowrap;
            font-size: 12px;
            z-index: 0;
        }
        i{
            text-shadow: 1px 1px 0 #2d7f86;
            position: relative;
            z-index: 2;
        }

        &:hover{
            @include box-shadow(0 7px 12px 0px rgba(0,0,0,0.2));
            @include desktopview{
                span{
                    opacity: 1;
                    @include translate(-150%,0);
                }
            }
        }
    }
}
