$verde:#ecf0e1;
$bege:#f2ddca;
$laranja:#dc935e;
$marrom:#8e838b;
$azul:#d2eaec;
$text-base: darken($marrom,20%);
$font-title: 'Slabo 27px', serif;
$font-primary: 'Source Sans Pro', sans-serif;

a{
  text-decoration:none;
  color: inherit;
}

h1,h2,h3,h4,h5{
  font-family:$font-title;
}

// mixin collection based on http://engageinteractive.co.uk/blog/top-10-scss-mixins

@mixin push-auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

@mixin pseudo($display: inline-block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}